body{
    font-family: 'Poppins', sans-serif;


}
h1{
    font-size: 50px;
  
}
.name-highlish{
    color: rgb(248, 0, 0);
}

.profile-content{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.profile-content img{
    width: 100%;
    padding-top: 10%;
}